body {
    font-family: 'Rambla', sans-serif;
    font-size: 16px;
    color: white;
}
h1 {
    font-family: 'Lobster Two', cursive;
    color: black;
    font-size: 60px;
}
h2,
h3 {
    font-family: 'Lobster Two', cursive;
    color: black;
}

/*Change font color of navbar and navbar brand*/

.navbar-default .navbar-nav>li>a {
    color: #b76e79;
}
.navbar-default .navbar-brand {
    color: #b76e79;
}
.opaque-navbar {
    background-color: rgba(0, 0, 0, 0);
    /*     Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    height: 80px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
}
.opaque-navbar.opaque {
    background-color: #010001;
    height: 80px;
    transition: background-color .5s ease 0s;
}
.navbar-header {
    width: 98%;
    font-family: 'Homenaje', serif;
    font-size: 25px;
    margin: 1%;
    color:
}
.navbar-brand {
    font-family: 'Lobster Two', serif;
    font-size: 60px;
}
.hero-unit {
    background-image: url(../img/le_wedding_hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: auto;
}
.about {
    background-color: #FFCCCC;
    text-align: center;
}
.about img {
    text-align: center;
    border-radius: 100%;
    float: none;
    margin: 0 auto;
}
