body {
    font-family: 'Rambla', sans-serif;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 0px;
}
h1 {
    font-family: 'Lobster Two', cursive;
    color: black;
    font-size: 60px;
    margin: 20px 0;
}
i,
h2,
h3 {
    font-family: 'Lobster Two', cursive;
    color: black;
}

/*Change font color of navbar and navbar brand*/

.navbar-default .navbar-nav>li>a {
    color: #b76e79;
}
.navbar-default .navbar-brand {
    color: #b76e79;
}

/*Transparent Navbar*/

.opaque-navbar {
    background-color: rgba(0, 0, 0, 0);
    /*     Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    height: 80px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
}
.opaque-navbar.opaque {
    background-color: #010001;
    height: 80px;
    transition: background-color .5s ease 0s;
}
.navbar-header {
    width: 98%;
    font-family: 'Homenaje', serif;
    font-size: 25px;
    margin: 1%;
}
.navbar-brand {
    font-family: 'Lobster Two', serif;
    font-size: 60px;
}

/*Hero*/

.hero-unit {
    background-image: url(../img/le_wedding_hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: auto;
}
.about,
.people,
.rsvp {
    background-color: #FFCCCC;
    text-align: center;
    padding: 0px 0px 30px 0;
}
.about img {
    text-align: center;
    float: none;
    margin: 0 auto;
}
.about p {
    color: black;
    width: 40%;
    margin-left: 30%;
    text-align: center;
}
.events,
.photos {
    background-image: url(../img/symphony.png);
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
}
.party i {
    color: #b76e79;
}
.party {
    padding: 30px 0px;
}
i {
    padding: 30px 0px;
}
.circle-icon {
    background: #AFAFAF;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    text-align: center;
    line-height: 125px;
    vertical-align: middle;
    padding: 35px;
}
.people img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    text-align: center;
    line-height: 125px;
    vertical-align: middle;
}
.thumbnail,
.rsvp iframe {
    padding: 0px;
    box-shadow: 10px 10px 5px #AFAFAF;
}
.rsvp {
    font-family: 'Rambla', sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 0px;
}

}
